
 /* Work Sens Font */
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;900&display=swap');
 /* shared style */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
 }
 .btn-primary{
   font-size: 1.25rem;
   font-weight: 600px;
   line-height: 24px;
   text-align: center;
   background-color: #FF900E;
   color: #FFf;
   padding: 20px 25px;
   border-radius: 8px;
   border: none;
   cursor: pointer;
 }
 /* header style */
 header{
    background-color: #FFF4E7;
    padding: 50px 240px;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav ul{
    display: flex;
 }
 nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
 }
 nav li a{
    text-decoration: none;
    color: #424242;

 }
 .nav-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313;
 }
 /* banner Style */
 .banner{}
 .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
 }
 .banner-title{
    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
 }
 .banner-description{
    color: #727272;
    margin-bottom: 20px;
 }
 .banner img{
   width: 100%;
   margin-top: 20px;
 }
 /* Responsive media query*/
 /* mobile */
 @media screen and (max-width: 576px) {
   header{
      padding: 20px;
   }
   nav{
      flex-direction: column;
   }
 }
 @media screen and (min-width: 577px) and (max-width: 960px){
   header{
      padding: 50px;
   }
   nav{
      flex-direction: column;
   }
 }
 /* Main Style */
 main{
   max-width: 1440px;
   margin: 0 auto;
 }
 .teams-container{
    display: flex;
    align-items: center;
   }
.teams-img-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1.5rem;
   }
   .teams-content{
      padding-left: 70px;
      padding-right: 70px;
   }
   .teams-title{
      font-size: 2.8125rem;
   }
   .Quick-list{
      color: #727272;
      font-weight: 500px;
   }
   .of-our{
      color: #131313;
      font-weight:700
   }
   .title-features{
      color: #FF900E;
      font-weight:700
   }
